/*Color scheme (in line with Indeed branding):
Primary color - royal blue: #2164f3
Secondary color - alice blue: #e5f2ff
Contrast color - orangered: #ff6600
Background color - whitesmoke: #f5f6f7
Links  mediumpurple: #7977cc*/

body.application {
    background: #f5f6f7;
    padding: 60px 20px 0;
}

/*Navbar*/
.navbar-inverse {
    background-color: #2164f3;
    border-color: #2164f3;
}
a.navbar-brand.title.col-sm-4 {
    padding-top: 22px;
}

a.nav-item-pill-name.introjs-showElement{
    color: #ff6600;
}
.nav-item-pill{
    width: 200px;
    float: right;
    color: white;
    padding-top: 22px;
}

.nav-item-pill-name{
    color: white;
    text-align: center;
    font-size: 12px;
}
.nav>li>a {
    padding: 2px 4px;
}

.nav>li>a:hover, .nav>li>a:focus {
    text-decoration: none;
    color: #ff6600;
    background-color: whitesmoke;
}

/*Tooltips*/
.introjs-helperNumberLayer {
  background: #ff6600; /* Old browsers */
  background: -webkit-linear-gradient(top, #ff6600 0%, #E95300 100%); /* Chrome10+,Safari5.1+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff6600), color-stop(100%, #E95300)); /* Chrome,Safari4+ */
  background:    -moz-linear-gradient(top, #ff6600 0%, #E95300 100%); /* FF3.6+ */
  background:     -ms-linear-gradient(top, #ff6600 0%, #E95300 100%); /* IE10+ */
  background:      -o-linear-gradient(top, #ff6600 0%, #E95300 100%); /* Opera 11.10+ */
  background:         linear-gradient(to bottom, #ff6600 0%, #E95300 100%);  /* W3C */
}

/* Links */
a{
    color: #7977cc;
}

a:hover{
    text-decoration: none;
    color: #ff6600;
}

/* Changed row text to black so it is visible against background*/
.dc-chart g.row text {
    fill: black;
}

.chart-wrapper{
    box-shadow: 1px 2px 2px #e2e2e2;
}

.chart-title {
    border-bottom: 1px solid #e5f2ff;
}

#location-pie-chart{
    padding-top:10px;
}

.fa-refresh .fa-search{
    color: white;
}
.keyline{
    font-weight: bold;
    margin-bottom: 0px;
    color: #2164f3;
}
.locpiechart{
    height: 205px;
}

.tagline{
    font-weight: normal;
    font-style: italic;
    color: black;
    margin-top: 0px;
    margin-bottom: 0px;
}

#reset_link{
    text-decoration: none;
    color: #777;
}
button.navbar-text.navbar-right{
    width: 250px;
}


#container_fluid{
    background-color: #4cae4c;
    color: black;
}
#LinkToFullResults{
    font-size: 12px;
    color: #777777;
    font-style: italic;
    padding-bottom: 8px;
}
.hits{
    display: inline-block;
}
ul{
    font-size: 14px;
    list-style-type: none;
    padding-left: 4px;
}
li {
    padding-top: 3.4px;
    padding-bottom: 3px;
}
.hit{
    float: right;
    padding-right: 4px;
    font-weight: bold;
}
i{
    padding-right: 10px;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    text-align: left;
    padding: 1px;
}

