.keyline{
    font-weight: bold;
    margin-bottom: 0px;
    color: rgb(49, 130, 189);
}

.tagline{
    font-weight: normal;
    font-style: italic;
    color: darkslategrey;
    margin-top: 0px;
    margin-bottom: 0px;
}
.intro_button{
    position: fixed;
    right: 2px;
    top: 15px;
    font-style: italic;
    font-weight: bold;
    color: white;
    background-color: rgb(49, 130, 189);
    border-style: none;
    font-size: 12px;
    width: 150px;
}
#container_fluid{
    background-color: #4cae4c;
    color: black;
}
#LinkToFullResults{
    font-size: 12px;
    color: #777777;
    font-style: italic;
    padding-bottom: 8px;
}
ul{
    font-size: 14px;
    list-style-type: none;
    padding-left: 1px;
}
li {
    padding-top: 4.4px;
    padding-bottom: 4.4px;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    text-align: left;
    padding: 1px;
}

.dc-chart g.row text {
   fill: black;
   font-size: 12px;
}

#total-projects {
   background: #33CC99;
   width: 200px;
   position: relative;
   height: 60px;
   font-size: 29px;
   color: white;
   vertical-align: middle;
   text-align: center;
   padding-top: 12px;
   padding-bottom: 0px;
}

#net-donations {
   background: #33CC99;
   width: 200px;
   position: relative;
   height: 60px;
   font-size: 29px;
   color: white;
   vertical-align: middle;
   text-align: center;
   padding-top: 12px;
   padding-bottom: 0px;
}


.dc-select-menu {
   background: #33CC99;
   width: 80%;
   border: none;
   position: relative;
   height: 31px;
   font-size: 15px;
   color: white;
   vertical-align: middle;
   text-align: center;
   padding-top: 4px;
   padding-bottom: 0px;

}